/* Multiple Useable Css */
*{
    margin: 0;
    font-family: sans-serif, 'Arimo';
}
img{
    width: 100%;
}
h1{
    font-size: 50px;
    padding-bottom: 30px;
}
p{
    font-size: 22px;
    color: gray;
    padding-bottom: 50px;
    line-height: 35px;
}
.half-width{
    width:45%;
    padding: 20px;
}
.flexible{
    display: flex;
}
.orange-color{
    color: orange;
}
a{
    font-size: 20px;
    font-weight: bold;
    color:white ;
    background: linear-gradient(to right, orange, tomato);
    padding: 15px 40px;
    border-radius: 35px;
    margin-top: 20px;
    text-decoration: none;
}
.primary-content{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    
}

/* Top-Banner-Section */

.top-banner-section{
    background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(images/top-banner.avif) ;
    background-size: cover;
    height: 100vh;
}
.top-banner-content{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}
.top-content h1{
    font-size: 50px;
    color: aliceblue;
    padding-bottom: 20px;
    text-transform: uppercase;
 }
.top-content h3{
    font-size: 35px;
    color: aliceblue;
    
}

/* Mid Section */
.mid-section{
    padding: 50px;
}

.mid-content h1{
    color: rgb(82, 78, 78);
    
}
/* About-Section */
.about-section{
    background-image: url(images/7.png);
    background-repeat: no-repeat;

}
.about-image{
    padding: 83px;
    margin: 40px;
    width: 300px;
    background-size: cover;
}