/* Multiple Useable Css */
*{
    margin: 0;
    font-family: sans-serif, 'Arimo';
}
img{
    width: 100%;
}
h1{
    font-size: 50px;
    padding-bottom: 30px;
}
p{
    font-size: 22px;
    color: gray;
    padding-bottom: 50px;
    line-height: 35px;
}
.half-width{
    width:45%;
    padding: 20px;
}
.flexible{
    display: flex;
}
.orange-color{
    color: orange;
}
a{
    font-size: 20px;
    font-weight: bold;
    color:white ;
    background: linear-gradient(to right, orange, tomato);
    padding: 15px 40px;
    border-radius: 35px;
    margin-top: 20px;
    text-decoration: none;
}
.primary-content{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    
}

/* Top-Banner-Section */

.top-banner-section{
    background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(images/top-banner.avif) ;
    background-size: cover;
    height: 100vh;
}
.top-banner-content{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}
.top-content h1{
    font-size: 50px;
    color: aliceblue;
    padding-bottom: 20px;
    text-transform: uppercase;
 }
.top-content h3{
    font-size: 35px;
    color: aliceblue;
    
}

/* Mid Section */
.mid-section{
    padding: 50px;
}

.mid-content h1{
    color: rgb(82, 78, 78);
    
}
/* About-Section */
.about-section{
    background-image: url(images/7.png);
    background-repeat: no-repeat;

}
.about-image{
    padding: 83px;
    margin: 40px;
    width: 300px;
}

/* Recipe Section */

.recipe-content{
    margin: 0 auto;
    text-align: center;
    width: 55%;
    
}
.recipe-content h1{
color: #524E4E;
}
.recipe-content p{
    font-size: 21px;
}
.recipe-item {
    padding: 40px;
    justify-content: center;
}

.recipe-part{
    margin: 30px;
    max-width: 30%;
    border: 20px solid white;
    border-radius: 18px;
    box-shadow: 10px 10px 40px  rgb(170, 167, 167);
}

.recipe-part img{
    max-height: 291px;
    border-radius: 18px;
    padding-bottom: 30px;
}
.recipe-part h2{
    padding-bottom: 20px;
}
.recipe-part p{
    padding-bottom: 0px;
}

/* Count-section */
.count-section{
    background-color: rgb(239, 239, 243);
    margin: 68px;
    border-radius: 10px;
}
.count-item{
  padding:30px 20px;
}
.count-content{
    margin: 0 auto;
    text-align: center;
}
.count-content h2{
    font-size: 35px;
    font-weight: 900;
    padding: 5px;
}
.count-content p{
    padding: 5px;
}